<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-primary" @click="selectedTemplete = 'appBlue'">Load Blue Template</button>
                <button class="btn btn-success" @click="selectedTemplete = 'appGreen'">Load Green Template</button>
                <button class="btn btn-danger" @click="selectedTemplete = 'appRed'">Load Red Template</button>
                <hr>
                <component :is="selectedTemplete">
                    <h1>Templete</h1>
                    <!-- <app-blue >
                        <h3>Blue Templete</h3>
                        <p>I'm Blue!</p>
                    </app-blue>
                    <app-green>
                        <h3>Green Templete</h3>
                        <p>I'm Green</p>
                    </app-green>
                    <app-red>
                        <h3>Red Templete</h3>
                        <p>I'm Red!</p>
                    </app-red> -->
                </component>
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data: function() {
            return { 
                selectedTemplete: 'appBlue'
            }
        },
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        }
    }
</script>

<style>
</style>
